@font-face {
  font-family: sahel;
  src: url(../fonts/Sahel-Black.eot);
  src: url(../fonts/Sahel-Black.ttf);
  src: url(../fonts/Sahel-Black.woff);
  src: url(../fonts/Sahel-Black.woff2);
  src: url(../fonts/Sahel.woff2);
  src: url(../fonts/Sahel.eot);
  src: url(../fonts/Sahel.ttf);
  src: url(../fonts/Sahel.woff);
}
@font-face {
  font-family: nastaligh;
  src: url(../fonts/IranNastaliq.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sahel;
  direction: rtl;
}

body {
  background-color: #262626;
}

.card-img, .card-overlay, .hamburger-menu .menu {
  width: 100%;
  height: 100%;
}

.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 20;
}
@media (max-width: 500px) {
  .hamburger-menu {
    width: 30px;
    height: 30px;
    top: 5%;
    right: 5%;
  }
}
.hamburger-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: transform 0.5s;
}
.hamburger-menu .menu-line {
  background-color: #dfb362;
  width: 100%;
  height: 4px;
  transition: all 0.5s;
  transform-origin: right;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  color: #dfb362;
  font-size: 70px;
  border: 3px solid #dfb362;
  border-radius: 50%;
  margin-left: 20px;
  text-decoration: none;
}
@media (max-width: 500px) {
  .logo {
    width: 90px;
    height: 90px;
    font-size: 50px;
  }
}

.brand {
  color: #bbb;
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .brand {
    flex-direction: column;
  }
}
.brand .main-name {
  font-weight: lighter;
  letter-spacing: 2px;
  font-size: 50px;
  margin-bottom: 8px;
}
@media (max-width: 500px) {
  .brand .main-name {
    font-size: 45px;
  }
}
.brand .sub-name {
  font-weight: lighter;
  letter-spacing: 2px;
  font-size: 30px;
  margin-bottom: 8px;
}
@media (max-width: 500px) {
  .brand .sub-name {
    font-size: 25px;
  }
}

.main-header {
  font-size: 100px;
  font-family: nastaligh;
  color: #dfb362;
  font-weight: lighter;
}
@media (max-width: 500px) {
  .main-header {
    font-size: 85px;
  }
}

.sub-header {
  font-size: 40px;
  color: #bbb;
  font-weight: lighter;
}
@media (max-width: 500px) {
  .sub-header {
    font-size: 25px;
  }
}

.main-btn {
  font-weight: lighter;
  letter-spacing: 2px;
  color: #dfb362;
  border: 1px solid #dfb362;
  background-color: inherit;
  margin-top: 25px;
  width: 170px;
  height: 45px;
  cursor: pointer;
  transition: all, 0.5s;
}
.main-btn:hover {
  color: #000;
  background-color: #dfb362;
}

.card {
  width: 33.3333%;
  height: 30vw;
  position: relative;
  overflow: hidden;
}
@media (max-width: 800px) {
  .card {
    width: 50%;
    height: 40vw;
  }
}
.card:hover .card-overlay {
  right: 0;
}
.card-overlay {
  position: absolute;
  z-index: 5;
  top: 0;
  right: -100%;
  background-color: rgba(223, 179, 98, 0.4);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: right 0.5s;
}
.card-overlay-header {
  font-weight: lighter;
  letter-spacing: 2px;
  font-family: nastaligh;
  font-size: 60px;
}
@media (max-width: 1000px) {
  .card-overlay-header {
    font-size: 45px;
  }
}
@media (max-width: 1000px) and (max-width: 500px) {
  .card-overlay-header {
    display: none;
  }
}
.card-overlay-paragraph {
  font-weight: lighter;
  letter-spacing: 2px;
  font-family: sahel;
  font-size: 30px;
}
@media (max-width: 1000px) {
  .card-overlay-paragraph {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .card-overlay-paragraph {
    display: none;
  }
}
.card-overlay-btn {
  background-color: #fff;
  border: none;
  border-radius: 20px;
  color: #dfb362;
  padding: 10px 35px;
  margin-top: 30px;
}
@media (max-width: 1000px) {
  .card-overlay-btn {
    padding: 8px 30px;
    margin-top: 15px;
  }
}
@media (max-width: 500px) {
  .card-overlay-btn {
    padding: 5px 15px;
  }
}
.card-img {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}

.social-media {
  list-style: none;
  display: flex;
  margin: 50px 25px 50px 0;
}
.social-media-item {
  margin-left: 30px;
}
@media (max-width: 500px) {
  .social-media-item {
    margin-left: 25px;
  }
}
.social-media-link {
  color: #bbb;
  font-size: 50px;
  transition: color 0.5s;
}
.social-media-link:hover {
  color: #dfb362;
}
@media (max-width: 500px) {
  .social-media-link {
    font-size: 40px;
  }
}

.footer-copyright-paragraph {
  color: #bbb;
  font-size: 20px;
  margin-bottom: 50px;
  text-align: center;
  padding: 20px;
}
@media (max-width: 500px) {
  .footer-copyright-paragraph {
    font-size: 15px;
  }
}

.navbar {
  position: relative;
  z-index: 10;
}
.navbar-navigation {
  display: flex;
  flex-direction: row-reverse;
}
.navbar-navigation-left {
  width: 50vw;
  height: 100vh;
  background-color: #262626;
  position: fixed;
  left: -50vw;
  transition: left 0.5s cubic-bezier(1, 0, 0, 1);
}
@media (max-width: 800px) {
  .navbar-navigation-left {
    display: none;
  }
}
.navbar-navigation-left .left-img {
  width: 50%;
  position: absolute;
  opacity: 0.8;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}
.navbar-navigation-left .left-img-1 {
  top: 15%;
  left: 15%;
}
.navbar-navigation-left .left-img-2 {
  top: 35%;
  left: 25%;
}
@media (max-width: 1000px) {
  .navbar-navigation-left .left-img-2 {
    top: 30%;
  }
}
.navbar-navigation-left .left-img-3 {
  top: 55%;
  left: 35%;
}
@media (max-width: 1000px) {
  .navbar-navigation-left .left-img-3 {
    top: 45%;
  }
}
.navbar-navigation-right {
  width: 50vw;
  height: 100vh;
  background-color: #1f1d1d;
  position: fixed;
  right: -50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: right 0.5s cubic-bezier(1, 0, 0, 1);
}
@media (max-width: 800px) {
  .navbar-navigation-right {
    width: 100vw;
    right: -100vw;
  }
}
.navbar-navigation-right .nav-list-item {
  list-style: none;
  text-align: center;
}
.navbar-navigation-right .nav-list-link {
  font-family: sahel;
  font-size: 25px;
  color: #bbb;
  font-weight: lighter;
  letter-spacing: 2px;
  text-decoration: none;
  display: block;
  margin: 20px;
  transition: all 0.5s;
}
.navbar-navigation-right .nav-list-link:hover {
  color: #dfb362;
  letter-spacing: 4px;
}

.checked {
  display: none;
}

.checked:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
}

.checked:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
}

.checked:checked ~ .hamburger-menu .menu {
  transform: rotateZ(90deg);
}

.checked:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(-40deg);
}

.checked:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0;
}

.checked:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(40deg);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(../images/bg.jpeg);
  background-size: cover;
  text-align: center;
}

.about-us {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: center;
}
.about-us-left {
  width: 40%;
}
.about-us-left img {
  width: 100%;
  opacity: 0.7;
}
@media (max-width: 1000px) {
  .about-us-left {
    display: none;
  }
}
.about-us-right {
  width: 60%;
  padding: 0 80px;
}
.about-us-right .stars {
  margin: 30px 0;
}
@media (max-width: 500px) {
  .about-us-right .stars {
    margin: 15px 0;
  }
}
.about-us-right .star {
  font-size: 15px;
  color: #dfb362;
  margin-left: 8px;
}
@media (max-width: 500px) {
  .about-us-right .star {
    font-size: 10px;
    margin-left: 5px;
  }
}
.about-us-right .main-btn {
  margin-top: 0;
  margin-bottom: 20px;
}
.about-us-right .description {
  color: #bbb;
  text-align: justify;
  line-height: 2em;
}
.about-us-right .main-header {
  font-size: 80px;
}
@media (max-width: 500px) {
  .about-us-right .main-header {
    font-size: 60px;
  }
}
.about-us-right .sub-header {
  font-size: 40px;
}
@media (max-width: 500px) {
  .about-us-right .sub-header {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  .about-us-right {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .about-us-right {
    padding: 0 60px;
  }
}

.gallery .cards-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-header {
  margin-top: 50px;
}
.footer-social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */